.header{
    width: 100%;
    padding-bottom: 70px;
    height: auto;
    position: relative;
}
.header .logo{
    width: 130px;
    height: 120px;
    
    position: absolute;
    top: 10px;
    left: 0;
}
.header .lookSintax{
    font-size: 40px;
    letter-spacing: 6px;
    color: #53c0dd;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20px;
    left: 0;
}
.header .navList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    list-style-type: none;
    
    position: relative;
    flex-wrap: wrap;
    top: 40px;
    left: 0;
}

.header .navList .listAnchor{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 4px;
    color: #e5a329;
}
.header .navList .listAnchor:hover{
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #53c0dd;
    color:  #e44d25;
}
.header .buttonSwitchMode{
    border-style: none;
    border: 3px solid #e5a329;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 10px;
}

.header .buttonSwitchMode .iconMode{
    width: 30px;
    height: 30px;
}

.header .buttonSwitchMode .textMode{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 24px;
    font-weight: bold;
}
/*DARK MODE*/
.darkMode .logo{
    filter: invert(1) brightness(2);
}

/*responsivo de  320px  ate  480px*/
@media screen and (min-width: 320px) and (max-width: 480px){
    .header .logo{
        width: 50px;
        height: 50px;
    }
    .header .lookSintax{
        font-size: 24px;
        letter-spacing: 0;
        margin-right: 80px;
    }
    .header .buttonSwitchMode{
        padding: 10px 5px;
        position: absolute;
        right: 4px;
    }
    .header .buttonSwitchMode .iconMode{
        width: 18px;
        height: 18px;
    }
    .header .buttonSwitchMode .textMode{
        font-size: 15px;
    }
    .header .navList{
        top: 35px;
        gap: 15px;
    }
    .header .navList .listAnchor{
        font-size: 20px;
        letter-spacing: 0;
    }
}

/*RESPONSIVIDADE DE 481PX ATE 720PX*/
@media screen and (min-width: 481px) and (max-width: 720px){
    .header .logo{
        width: 80px;
        height: 80px;
    }
    .header .lookSintax{
        font-size: 38px;
        letter-spacing: 0;
    }
    .header .buttonSwitchMode{
        padding: 10px 8px;
        right: 5px;
    }
    .header .buttonSwitchMode .iconMode{
        width: 25px;
        height: 25px;
    }
    .header .buttonSwitchMode .textMode{
        font-size: 18px;
    }
    .header .navList{
        top: 35px;
        gap: 20px;
    }
    .header .navList .listAnchor{
        font-size: 26px;
        letter-spacing: 0;
    }
}

/*RESPONSIVIDADE DE 721PX ATE 768PX*/
@media screen and (min-width: 721px) and (max-width: 768px){
    .header .logo{
        width: 100px;
        height: 100px;
    }
    .header .lookSintax{
        font-size: 40px;
        letter-spacing: 0;
    }
    .header .buttonSwitchMode{
        padding: 10px 8px;
        right: 5px;
    }
    .header .buttonSwitchMode .iconMode{
        width: 30px;
        height: 30px;
    }
    .header .buttonSwitchMode .textMode{
        font-size: 20px;
    }
    .header .navList{
        margin-bottom: 20px;
        top: 50px;
        gap: 20px;
    }
    .header .navList .listAnchor{
        font-size: 30px;
        letter-spacing: 0;
    }
}

/*RESPONSIVIDADE DE 769PX ATE 900PX*/
@media screen and (min-width: 769px) and (max-width: 900px){
    .header .logo{
        width: 100px;
        height: 100px;
    }
    .header .lookSintax{
        font-size: 44px;
        letter-spacing: 0;
    }
    .header .buttonSwitchMode{
        padding: 10px 8px;
        right: 5px;
    }
    .header .buttonSwitchMode .iconMode{
        width: 30px;
        height: 30px;
    }
    .header .buttonSwitchMode .textMode{
        font-size: 20px;
    }
    .header .navList{
        margin-bottom: 20px;
        top: 50px;
        gap: 20px;
    }
    .header .navList .listAnchor{
        font-size: 32px;
        letter-spacing: 3px;
    }
}

/*RESPONSIVIDADE DE 901PX ATE 1024PX*/
@media screen and (min-width: 901px) and (max-width: 1024px){
    .header .logo{
        width: 100px;
        height: 100px;
    }
    .header .lookSintax{
        font-size: 44px;
        letter-spacing: 0;
    }
    .header .buttonSwitchMode{
        padding: 10px 8px;
        right: 5px;
    }
    .header .buttonSwitchMode .iconMode{
        width: 30px;
        height: 30px;
    }
    .header .buttonSwitchMode .textMode{
        font-size: 20px;
    }
    .header .navList{
        margin-bottom: 20px;
        top: 50px;
        gap: 20px;
    }
    .header .navList .listAnchor{
        font-size: 32px;
        letter-spacing: 5px;
    }
}

/*RESPONSIVIDADE min 1021*/
@media screen and (min-width: 1021px){
    .header .logo{
        width: 120px;
        height: 120px;
    }
    .header .lookSintax{
        font-size: 48px;
        letter-spacing: 0;
    }
    .header .buttonSwitchMode{
        padding: 10px 8px;
        right: 5px;
    }
    .header .buttonSwitchMode .iconMode{
        width: 40px;
        height: 40px;
    }
    .header .buttonSwitchMode .textMode{
        font-size: 24px;
    }
    .header .navList{
        margin-bottom: 20px;
        top: 50px;
        gap: 25px;
    }
    .header .navList .listAnchor{
        font-size: 36px;
        letter-spacing: 5px;
    }
}