.card{
width: 468px;
height: 645px;
border: 4px solid #8f6143;
border-radius: 10px;
padding-top: 10px;
box-shadow: 8px 9px 15px 0px #39435e99;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
flex: 1 1 auto;
}
.title{
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #3c778d;
}
.description{
    font-size: 26px;
    text-align: center;
    color: #295e91;
}
.img{
    width: 100%;
    height: 50%;
}
/*responsivo de < 319px  ate > 769px*/
@media screen and (min-width: 319px) and (max-width: 768px){
    .card{
        width: 100%;
        height: 100%;
        border: 1px solid #8f6143;
        border-radius: 5px;
        padding-top: 5px;
        box-shadow: 2px 2px 2px 0px #39435e99;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex: 1 0 auto;
        }
        .title{
            font-size: 18px;
            line-height: 24px;
        }
        .description{
            font-size: 16px;
        }
}
/*responsivo de 479px  ate  768px*/
@media screen and (min-width: 482px) and (max-width: 768px){
    .title{
        font-size: 28px;
        line-height: 38px;
    }
    .description{
        font-size: 24px;
    }
}