/*llink de seta para cima*/
#arrawTopLink{
    position: absolute;
    left: 1600px;
    bottom: 100px;
    color: #e44d25;
}
#arrowTop{
    width: 50px;
    height: 50px;
    position: fixed;
}
.containerArrow{
   
}
/*inicio estilos compartilhaveis*/
/*sintax de html*/
.title{
    color: #e44d25;
}
/*sintax de css*/
.tituloCss{
   color: #1f62af;
}
/*sintax de javascript*/
.tituloJs{
    color: #e5a329;
}
/*sintax de next.js*/
.tituloNextJs{
    color: red;
}
/*sintax de node.js*/
.tituloNodeJs{
    color: #77b063;
}
/*sintax de git*/
.tituloGit{
    color: #d8705c;
}
/*setor de agrupamento*/
.title,
.tituloCss,
.tituloJs,
.tituloNextJs,
.tituloNodeJs,
.tituloGit{
    font-size: 40px;
    font-weight: bold;
}

/*sintax de html*/
.containerCard{
    border: 3px solid  #e44d25;
}
/*sintax de css*/
.containerCardCss{
    border: 3px solid  #1f62af;
}
.containerCardJs{
    border: 3px solid #e5a329;
}
/*sintax de next.js*/
.containerCardNextJs{
    border: 3px solid red;
}
/*sintax de next.js*/
.containerCardNodeJs{
    border: 3px solid #77b063;
}
/*sintax de git*/
.containerCardGit{
    border: 3px solid #d8705c;
}
/*setor de agrupamento*/
.containerCard,
.containerCardCss,
.containerCardJs,
.containerCardNextJs,
.containerCardNodeJs,
.containerCardGit{
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    padding: 15px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

/*sintax de html*/
.fieldSearch{
    border: 3px solid #e44d25;
}
/*sintax css*/
.fieldSearchCss{
    border: 3px solid #1f62af;
}
/*sintax javascript*/
.fieldSearchJs{
    border: 3px solid #e5a329;
}
/*sintax de next.js*/
.fieldSearchNextJs{
    border: 3px solid red;
}
/*sintax de node.js*/
.fieldSearchNodeJs{
    border: 3px solid #77b063;
}
/*sintax de git*/
.fieldSearchGit{
    border: 3px solid #d8705c;
}
/*setor de agrupamento*/
.fieldSearch,
.fieldSearchCss,
.fieldSearchJs,
.fieldSearchNextJs,
.fieldSearchNodeJs,
.fieldSearchGit{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}
/*fim estilos compartilhaveis*/

.main{
    position: relative;
    padding-bottom: 50px;
    width: 100%;
    gap: 100px;
}
.main,
.sectionHtml{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Modo escuro*/
.darkMode{
    background-color: #030711;
}
.darkMode .main .sectionHtml .fieldSearch .iconSearch{
    filter: invert(1) brightness(2);
}
.darkMode .main .sectionHtml .fieldSearchCss .iconSearch{
    filter: invert(1) brightness(2);
}
.darkMode .fieldSearchJs .iconSearch{
    filter: invert(1) brightness(2); 
}
.darkMode .fieldSearchNextJs .iconSearch{
    filter: invert(1) brightness(2); 
}
.darkMode .fieldSearchNodeJs .iconSearch{
    filter: invert(1) brightness(2); 
}
.darkMode .fieldSearchGit .iconSearch{
    filter: invert(1) brightness(2); 
}
/*Estilos da secao sintax de html*/
.sectionHtml{
    width: 80%;
    gap: 40px;
}
.input{
    width: 100%;
    height: 100%;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    padding-left: 10px;
    font-size: 24px;
    font-weight: bold;
}
.iconSearch{
    width: 40px;
    height: 40px;
}

/*link para o codigo do projeto*/
.buttonCodeLink{
    border-style: none;
    border-radius: 10px;
    width: 320px;
    padding: 15px 10px;
    border: 2px solid #e44d25;
}
.codeLink{
    font-size: 26px;
    color: #1f62af;
}

/*responsivo de  320px  ate  480px*/
@media screen and (min-width: 320px) and (max-width: 480px){
    .main{
        gap: 30px;
    }
    /*setor de agrupamento*/
.title,
.tituloCss,
.tituloJs,
.tituloNextJs,
.tituloNodeJs,
.tituloGit{
    font-size: 24px;
    text-align: center;
}
/*setor de agrupamento*/
.fieldSearch,
.fieldSearchCss,
.fieldSearchJs,
.fieldSearchNextJs,
.fieldSearchNodeJs,
.fieldSearchGit{
    width: 95%;
    height: 40px;
    gap: 0;
}
/*Estilos da secao sintax de html*/
.sectionHtml{
        width: 100%;
    }
    .input{
        font-size: 11px;
    }
    .iconSearch{
        width: 30px;
        height: 30px;
    }
    /*sintax de html*/
.containerCard{
    border: 2px solid  #e44d25;
}
/*sintax de css*/
.containerCardCss{
    border: 3px solid  #1f62af;
}
/*setor de agrupamento*/
.containerCard,
.containerCardCss,
.containerCardJs,
.containerCardNextJs,
.containerCardNodeJs,
.containerCardGit{
    width: 95%;
    height: 50vh;
    border-radius: 5px;
    padding: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    flex-wrap: nowrap;
    gap: 30px;
}
/*link para o codigo do projeto*/
.buttonCodeLink{
    width: 100%;
    padding: 10px;
}
#arrawTopLink{
    left: 280px;
}
#arrowTop{
    width: 25px;
    height: 25px;
}
.codeLink{
    font-size: 20px;
}

/*escondendo campo de pesquisa por entanto*/
.fieldSearchNextJs{
    display: none;
}
.fieldSearchNodeJs{
    display: none;
}
}

/*RESPONSIVIDADE DE 481PX ATE 720PX*/
@media screen and (min-width: 481px) and (max-width: 720px){
    .main{
        gap: 40px;
    }
    /*setor de agrupamento*/
.title,
.tituloCss,
.tituloJs,
.tituloNextJs,
.tituloNodeJs,
.tituloGit,
.fieldSearchGit{
    font-size: 30px;
}
/*setor de agrupamento*/
.fieldSearch,
.fieldSearchCss,
.fieldSearchJs,
.fieldSearchNextJs,
.fieldSearchNodeJs{
    width: 95%;
    height: 50px;
    gap: 0;
}
/*Estilos da secao sintax de html*/
.sectionHtml{
        width: 100%;
    }
    .input{
        font-size: 20px;
    }
    .iconSearch{
        width: 35px;
        height: 35px;
    }
    /*sintax de html*/
.containerCard{
    border: 2px solid  #e44d25;
}
/*sintax de css*/
.containerCardCss{
    border: 3px solid  #1f62af;
}
/*setor de agrupamento*/
.containerCard,
.containerCardCss,
.containerCardJs,
.containerCardNextJs,
.containerCardNodeJs,
.containerCardGit{
    width: 95%;
    height: 50vh;
    border-radius: 5px;
    padding: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    flex-wrap: nowrap;
    gap: 30px;
}
/*link para o codigo do projeto*/
.buttonCodeLink{
    width: 100%;
    padding: 10px;
}
.codeLink{
    font-size: 20px;
}
#arrawTopLink{
    left: 450px;
}
#arrowTop{
    width: 25px;
    height: 25px;
}
/*escondendo campo de pesquisa por entanto*/
.fieldSearchNextJs{
    display: none;
}
.fieldSearchNodeJs{
    display: none;
}
}

/*RESPONSIVIDADE DE 721PX ATE 768PX*/
@media screen and (min-width: 721px) and (max-width: 768px){
    .main{
        gap: 50px;
    }
    /*setor de agrupamento*/
.title,
.tituloCss,
.tituloJs,
.tituloNextJs,
.tituloNodeJs,
.tituloGit{
    font-size: 38px;
}
/*setor de agrupamento*/
.fieldSearch,
.fieldSearchCss,
.fieldSearchJs,
.fieldSearchNextJs,
.fieldSearchNodeJs,
.fieldSearchGit{
    width: 95%;
    height: 50px;
    gap: 0;
}
/*Estilos da secao sintax de html*/
.sectionHtml{
        width: 100%;
    }
    .input{
        font-size: 26px;
    }
    .iconSearch{
        width: 40px;
        height: 40px;
    }
    /*sintax de html*/
.containerCard{
    border: 4px solid  #e44d25;
}
/*sintax de css*/
.containerCardCss{
    border: 4px solid  #1f62af;
}
/*setor de agrupamento*/
.containerCard,
.containerCardCss,
.containerCardJs,
.containerCardNextJs,
.containerCardNodeJs,
.containerCardGit{
    width: 95%;
    height: 50vh;
    border-radius: 5px;
    padding: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    flex-wrap: nowrap;
    gap: 30px;
}
/*link para o codigo do projeto*/
.buttonCodeLink{
    width: 100%;
    padding: 10px;
}
.codeLink{
    font-size: 30px;
}
#arrawTopLink{
    left: 700px;
}
#arrowTop{
    width: 25px;
    height: 25px;
}
/*escondendo campo de pesquisa por entanto*/
.fieldSearchNextJs{
    display: none;
}
.fieldSearchNodeJs{
    display: none;
}
}


/*RESPONSIVIDADE DE 769PX ATE 900PX*/
@media screen and (min-width: 769px) and (max-width: 900px){
    .main{
        gap: 60px;
    }
    /*setor de agrupamento*/
.title,
.tituloCss,
.tituloJs,
.tituloNextJs,
.tituloNodeJs,
.tituloGit{
    font-size: 40px;
}
/*setor de agrupamento*/
.fieldSearch,
.fieldSearchCss,
.fieldSearchJs,
.fieldSearchNextJs,
.fieldSearchNodeJs,
.fieldSearchGit{
    width: 95%;
    height: 50px;
    gap: 0;
}
/*Estilos da secao sintax de html*/
.sectionHtml{
        width: 100%;
    }
    .input{
        font-size: 26px;
    }
    .iconSearch{
        width: 40px;
        height: 40px;
    }
    /*sintax de html*/
.containerCard{
    border: 4px solid  #e44d25;
}
/*sintax de css*/
.containerCardCss{
    border: 4px solid  #1f62af;
}
/*setor de agrupamento*/
.containerCard,
.containerCardCss,
.containerCardJs,
.containerCardNextJs,
.containerCardNodeJs,
.containerCardGit{
    width: 95%;
    height: 75vh;
    border-radius: 5px;
    padding: 10px;
    overflow-y: hidden;
    overflow-x: scroll;
    flex-wrap: nowrap;
    gap: 15px;
}
/*link para o codigo do projeto*/
.buttonCodeLink{
    width: 100%;
    padding: 10px;
}
.codeLink{
    font-size: 30px;
}
#arrawTopLink{
    left: 740px;
}
#arrowTop{
    width: 30px;
    height: 30px;
}
/*escondendo campo de pesquisa por entanto*/
.fieldSearchNextJs{
    display: none;
}
.fieldSearchNodeJs{
    display: none;
}
}

/*RESPONSIVIDADE DE 901PX ATE 1024PX*/
@media screen and (min-width: 901px) and (max-width: 1024px){
    .main{
        gap: 70px;
    }
    /*setor de agrupamento*/
.title,
.tituloCss,
.tituloJs,
.tituloNextJs,
.tituloNodeJs,
.tituloGit{
    font-size: 44px;
}
/*setor de agrupamento*/
.fieldSearch,
.fieldSearchCss,
.fieldSearchJs,
.fieldSearchNextJs,
.fieldSearchNodeJs,
.fieldSearchGit{
    width: 80%;
    height: 50px;
    gap: 0;
}
/*Estilos da secao sintax de html*/
.sectionHtml{
        width: 100%;
    }
    .input{
        font-size: 26px;
    }
    .iconSearch{
        width: 40px;
        height: 40px;
    }
    /*sintax de html*/
.containerCard{
    border: 4px solid  #e44d25;
}
/*sintax de css*/
.containerCardCss{
    border: 4px solid  #1f62af;
}
/*setor de agrupamento*/
.containerCard,
.containerCardCss,
.containerCardJs,
.containerCardNextJs,
.containerCardNodeJs,
.containerCardGit{
    width: 80%;
    height: 75vh;
    border-radius: 5px;
    padding: 15px;
    overflow-y: scroll;
    flex-wrap: wrap;
    gap: 30px;
}
/*link para o codigo do projeto*/
.buttonCodeLink{
    width: 100%;
    padding: 10px;
}
.codeLink{
    font-size: 34px;
}
#arrawTopLink{
    left: 860px;
}
#arrowTop{
    width: 30px;
    height: 30px;
}
/*escondendo campo de pesquisa por entanto*/
.fieldSearchNextJs{
    display: none;
}
.fieldSearchNodeJs{
    display: none;
}
}

/*RESPONSIVIDADE min 1021*/
@media screen and (min-width: 1021px){
    .main{
        gap: 60px;
    }
    /*setor de agrupamento*/
.title,
.tituloCss,
.tituloJs,
.tituloNextJs,
.tituloNodeJs,
.tituloGit{
    font-size: 50px;
}
/*setor de agrupamento*/
.fieldSearch,
.fieldSearchCss,
.fieldSearchJs,
.fieldSearchNextJs,
.fieldSearchNodeJs,
.fieldSearchGit{
    width: 80%;
    height: 50px;
    gap: 0;
}
/*Estilos da secao sintax de html*/
.sectionHtml{
        width: 100%;
    }
    .input{
        font-size: 30px;
    }
    .iconSearch{
        width: 40px;
        height: 40px;
    }
    /*sintax de html*/
.containerCard{
    border: 4px solid  #e44d25;
}
/*sintax de css*/
.containerCardCss{
    border: 4px solid  #1f62af;
}
/*setor de agrupamento*/
.containerCard,
.containerCardCss,
.containerCardJs,
.containerCardNextJs,
.containerCardNodeJs,
.containerCardGit{
    width: 80%;
    height: 75vh;
    border-radius: 5px;
    padding: 15px;
    overflow-y: scroll;
    flex-wrap: wrap;
    gap: 30px;
}
/*link para o codigo do projeto*/
.buttonCodeLink{
    width: 100%;
    padding: 10px;
}
.codeLink{
    font-size: 34px;
}
#arrawTopLink{
    left: 1020px;
}
#arrowTop{
    width: 40px;
    height: 40px;
}
/*escondendo campo de pesquisa por entanto*/
.fieldSearchNextJs{
    display: none;
}
.fieldSearchNodeJs{
    display: none;
}
}